.container {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  height: 95vh;
}

.greens {
  display: flex;
  justify-content: space-around;
}

.green-item {
  display: flex;
  background-color: aqua;
  height: 150px;
  width: 100px;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid rgb(0, 129, 129);
}

.reds {
  display: flex;
  justify-content: space-around;
}

.red-item {
  display: flex;
  background-color: firebrick;
  color: aliceblue;
  height: 100px;
  flex-grow: 1;
  border: 1px solid rgb(111, 21, 21);
  font-size: 1.5rem;
  padding: 0.5rem;
}

.red-item.longer {
  flex-grow: 3;
}
