body {
  background-color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  line-height: 0.5rem;
}

h4 {
  line-height: 0.5rem;
}

.corvette {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: rgb(205, 250, 250);
  padding: 0.5rem 1.5rem;
  border: 1px solid gainsboro;
  border-radius: 8px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.corvette.c4 {
  background-color: rgb(255, 245, 230);
}

.info {
  color: darkolivegreen;
  font-size: 1rem;
}

.corvette img {
  width: 60%;
  border-radius: 4px;
  margin-bottom: 0.4rem;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
}
