/* Exercise 1 */
.yellow-div {
  background-color: yellow;
}

.red-div {
  background-color: #ff4343;
}

/* Exercise 2 */
img {
  padding: 0.5em;
  margin: 0.5em 1em;
}

/* Exercise 3 */
.tags li:nth-child(odd) {
  background-color: #ff8bff;
}

/* Exercise 4 */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container div {
  width: 600px;
  padding: 0.5rem;
}

/* Exercise 5 */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-auto-rows: 50px;
  border: 1px solid gainsboro;
  border-radius: 4px;
  padding: 2px;
  width: 800px;
}

.grid-container div {
  display: flex;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 4px;
  margin: 2px;
  padding-left: 10px;
  align-items: center;
}
