#root {
  max-width: 1280px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 auto;
  padding: 2rem;
  color: dimgray;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.4rem;
  transition: all 0.3s;
  margin-right: 1.6rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.note-container {
  display: flex;
}

.btn {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-note {
  font-size: 0.9rem;
  margin: 8px;
  margin-left: auto;
}
