#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: azure;
}

.heading-primary {
  font-size: 1.6rem;
  margin-top: 3rem;
}

input {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.number-input {
  width: 40px;
}

label {
  font-size: 1rem;
}

.btn {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-row {
  display: flex;
  gap: 0.6rem;
}

h1 {
  font-size: 1.6rem;
}
