#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: azure;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  width: 45rem;
}

.todoNote {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  padding: 1rem;
  border: 1px solid gray;
  border-radius: 4px;
}

.btn {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-delete {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 8px;
  margin-left: auto;
}

.input {
  font-size: 1rem;
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  margin: 8px 0;
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
  cursor: pointer;
}

form button {
  margin-left: 10px;
}
