* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of the user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: azure;
  color: #555;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.main {
  margin: 0 auto;
  max-width: 80rem;
  border: 1px solid gainsboro;
  background-color: #fefefe;
  padding: 2rem 4rem;
  border-radius: 8px;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
}

.btn {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.6rem;
  box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.08);
}

.container {
  font-size: 1.8rem;
}

.number-of-jokes {
  margin-bottom: 2rem;
}

.list-of-jokes {
  margin-bottom: 1.5rem;
  list-style: circle;
}
