.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  font-size: 1.5rem;
  color: cadetblue;
  border: 2px solid ghostwhite;
}

.top {
  background-color: aliceblue;
  grid-column: 1 / span 2;
  height: 100px;
}

.left {
  background-color: antiquewhite;
  height: calc(100vh - 200px);
}

.right {
  background-color: aquamarine;
}
