* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of the user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
  background-color: azure;
  color: #555;
  padding: 3rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

.add-post-form {
  display: none;
  width: 50rem;
}

.visible {
  display: block;
}

form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

label {
  font-size: 1.6rem;
}

input {
  border: 1px solid gainsboro;
  font-size: 1.6rem;
  height: 4rem;
  padding: 0.6rem;
  border-radius: 4px;
  margin-bottom: 1.2rem;
}

.btn {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 1.6rem;
  width: fit-content;
  cursor: pointer;
  /* box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.08); */
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-top: 1px dashed #555;
}

.post-item {
  width: 80rem;
  border: 1px solid rgba(85, 85, 85, 0.2);
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 8px;
}

.post-item-heading {
  display: flex;
  justify-content: space-between;
}

.post-item-text {
  font-size: 1.6rem;
  margin-top: 0.2rem;
  width: 90%;
}

.post-item-username {
  font-size: 2.2rem;
}
