.container {
  background-color: ghostwhite;
  border: 1px solid gainsboro;
  height: 95vh;
  width: 800px;
  margin: auto;
}

.pinks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px 100px;
}

.pink-item {
  background-color: deeppink;
  border: 1px solid ghostwhite;
  color: ghostwhite;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.aquas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
}

.aqua-item {
  background-color: aqua;
  font-size: 1.5rem;
  padding: 0.5rem;
  border: 1px solid ghostwhite;
}

.aqua-item.one {
  grid-column-start: 1;
  grid-column-end: -1;
}

.aqua-item.two {
  grid-row-start: 2;
  grid-row-end: 5;
}

.aqua-item.five {
  grid-column-start: 2;
  grid-column-end: 3;
}
