#root {
  max-width: 1280px;
  margin: 0 auto;
  /* text-align: center; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of the user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  line-height: 1;
  font-weight: 400;
  background-color: azure;
  color: #555;
  padding: 3rem;
}

h1 {
  font-size: 2.8rem;
  margin-bottom: 2rem;
  margin-top: 6rem;
}

p {
  font-size: 1.8rem;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333399;
  width: 34rem;
  color: ghostwhite;
  padding: 2rem;
}

.card-heading {
  font-size: 2rem;
}

.card-text {
  font-size: 1.6rem;
  margin-top: 0.2rem;
}

.card img {
  width: 100%;
}

.contain {
  object-fit: contain;
}

/* Assignment 3 */
table {
  width: 350px;
  text-align: left;
  margin-top: 2rem;
  font-size: 1.6rem;
}

table,
caption,
th,
td {
  border: 1px solid gainsboro;
  padding: 1rem;
}

thead {
  font-weight: bold;
}
